* {
    overflow-x: hidden
}
.image {
    max-width: 100%;

}

.grid {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}
.grid-item {
    width: 33.3333%;
    padding: 10px;
}

nav {
    background: darkcyan;
    margin-bottom: 15px;
    border: none;
}

.mainpage {
    background: url(../../media/images/earth-1756274_960_720.webp);
    background-color: #101010;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;
    background-attachment: fixed;
}
nav a {
    color: white;
    transition: background 0.8s;
    font-size: 27px;
}
.navbar-brand {
    color: white;
}

.form-container {
    margin-left: 28%;
    margin-top: 4%;
}
form .form-control {
    width: 60%;
    height: 50px;
    display: inline-block;
}
form a {
    height: 50px;
    display: flex;
    align-items: center;
}