* {
    
    font-family: 'Gabriela';
}

.image {
    max-width: 100%;
    cursor: pointer;

}

.grid {
    display: grid;
    grid-gap: 1%;

}

.container-fluid {
    margin-top: 4%;
    color: rgb(249, 244, 250);
}

.grid-item {
    width: 33.3333%;
    padding: 1%;

}

nav {
    background: #1e0127;
    margin-bottom: 15px;
    border: none;
    transition: background 0.8s
}
.navbar {
    margin-bottom: 10%;
}

body {
    background: url(../../media/images/earth-1756274_960_720.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

   
    width: 100%;
}

nav a {
    color: white;
    transition: background 0.8s;
}

.navbar-brand {
    color: white;
    font-size: 20px;
}

.form-container {
    margin-left: 28%;
    margin-top: 4%;
}

.back-form .form-control {
    width: 60%;
    height: 50px;
    display: inline-block;
}

#search-btn {
    height: 50px;
    display: flex;
    align-items: center;
    display: inline-block;
}

.examples {
    color: white;
    margin: 1%;
}

.navbar-right {
    display: inline-block
}


.navbar-form .form-control {
    height: 3vh;
}